.score {
    width: 100%;
    height: 100%;
    @include colomnFlex(flex-start);

    &__content {
        width: 100%;
        padding: 10px;
    }
    
    &__table {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        box-shadow: 3px 3px 10px 0 #212121;
        background-color: white;
        border-collapse: collapse;
        color: $balck;
        max-height: 600px;
        margin-bottom: 40px;
    }

    &__heading {
        font-family: 'Noconne';
        color: $balck;

        td {
        font-size: 40px;
        user-select: none;
        cursor: default;
        }
    }

    tr {
        font-size: 18px; 
        td {
            border: gray 1px solid;
            text-align: center;
            text-transform: capitalize;
        }
    }
}