@import '_variables';
@import '_reset';
@import '_options';
@import '_card';
@import '_containers';
@import '_game';
@import '_popup.scss';

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
border: 0;
}

.game {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// #root {
//     width: 100vw;
//     height: 100vh;
//     background-color: #61dafb;;
// }

ul, li {
    margin: 0;
    list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }